# dependencies
node_modules

# seed data downloads
downloads/
seed_results.json

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
seed/.venv/
