.greetings-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.greetings-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.greetings-title {
	font-size: 2rem;
	font-weight: bold;
	padding: 0.2rem;
}

.greetings-subtitle {
	font-size: 1.8rem;
	font-weight: bold;
	padding: 0.2rem;
	text-align: center;
}

.greetings-description {
	font-size: 0.7rem;
	padding: 0.2rem;
	text-align: center;
}

.login-button-container {
	margin: 2rem;
}